<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>On the station:</strong>
  <% if !@train.current_station.nil? %>
    <%= @train.current_station.title %>
  <% else %>
    None
  <% end %>
</p>
<p>
  <strong>Amount of first_class carriages:</strong>
  <% total_carriages = 0 %>
  <% @train.carriages.each do |carriage| %>
    <% if carriage.carriage_type == 'first_class' %>
      <% total_carriages += 1 %>
    <% end %>
  <% end %>
  <%= total_carriages %>
</p>
<p>
  <strong>Amount of second_class carriages:</strong>
  <% total_carriages = 0 %>
  <% @train.carriages.each do |carriage| %>
      <% total_carriages += 1 if carriage.carriage_type == 'second_class' %>
  <% end %>
  <%= total_carriages %>
</p>
<p>
  <strong>Amount of upper places:</strong>
  <% total_places = 0 %>
  <% @train.carriages.each do |carriage| %>
    <% total_places += carriage.upper_places_amount %>
  <% end %>
  <%= total_places %>
</p>
<p>
  <strong>Amount of down places:</strong>
  <% total_places = 0 %>
  <% @train.carriages.each do |carriage| %>
    <% total_places += carriage.down_places_amount %>
  <% end %>
  <%= total_places %>
</p>
<p>
  <strong>Following the route:</strong>
  <% if !@train.route.nil? %>
    <%= @train.route.name %>
  <% else %>
    None
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
