<%= form_for(@carriage) do |form| %>
  <%= render 'common/errors', resource: @carriage %>
  <div class="field">
    <%= form.label :carriage_type %>
    <%= form.text_field :carriage_type %>
  </div>

  <div class="field">
    <%= form.label :train, 'Train' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= form.label :places_amount, 'Places amount' %>
    <%= form.text_field :places_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>